@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(fade_in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(partial_fade_in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@include keyframes(fade_out) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(rotate) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include keyframes(checkmark_width) {
  0% {
    width: 0;
  }
  100% {
    width: 15px;
  }
}

@include keyframes(checkmark_height) {
  0% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}
@include keyframes(slide_in) {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}
@include keyframes(slide_out) {
  0% {
    left: 0px;
  }
  100% {
    left: -300px;
  }
}
@include keyframes(drop_down_open) {
  0% {
    height: 0;
  }
  100% {
    height: 208px;
  }
}
@include keyframes(drop_down_close) {
  0% {
    height: 208px;
  }
  100% {
    height: 0px;
  }
}
@include keyframes(scale_in) {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@include keyframes(animate_line) {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}