$blackColor: #000;
$whiteColor: #F8F8F8;
$redColor: #ff5a60;
$greenColor: #689f38;
$blueColor: #0673A5;
$fadedTextColor: rgb(139, 139, 139);
$fontFamily: 'Futura',
'Helvetica',
sans-serif;
$iconSize: 30px;
$iconHoverBGColor: rgba(0, 0, 0, 0.125);
$fontWeightThin: 100;
$buttonFontSize: 18px;
$smallFontSize: 15px;
$smallMediumFontSize: 20px;
$mediumFontSize: 30px;
$mediumLargeFontSize: 24px;
$LargeFontSize: 41px;
$transitionDuration: 200ms;
$borderBottomColor: rgba(128, 128, 128, 0.301);
$buttonPadding: 8px 20px 8px 20px;
$extraLargeDevices: 1200px;
$largeDevices: 991px;
$mediumDevices: 767px;
$smallDevices: 480px;