.me_image {
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.me_description {
  padding-top: 30px;
  text-align: left;
  margin: 0 auto;
  width: 620px;
  line-height: 1.5rem;
  font-size: 14px;
  font-family: sans-serif;
}

.me_description a {
  color: rgb(35, 35, 255);
  text-decoration: none;
}

.me_description:after {
  content: '';
  display: block;
  margin: 0 auto;
  max-width: 641px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}

.me_description h3 {
  color: rgba(0, 0, 0, 0.797);
  font-weight: 400;
  font-size: 18px;
}

.me_description a {
  transition-duration: 400ms;
}

.me_description a:hover {
  color: rgba(101, 101, 101, 0.783);
}

.me_header h1 {
  font-size: 26px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.797);
}