.about {
  background: #F8F8F8;
}
.about_intro {
  height: 700px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: linear-gradient(#1C1C1C, rgb(46, 55, 109));
  align-items: center;  
}
.about_avatar_container {
  text-align: center;
  padding: 13px;
  font-size: 26px;
  color: #ffffff;
}

.about_background_content {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F8F8;
  text-align: left;
}

.about_me_in_mexico {
  border-radius: 5px;
  width: 50%;
  height: auto;
}

.about_me_desc {
  font-weight: 100;
  line-height: 40px;
  font-size: 24px;
  margin-left: 100px;
}

@media only screen and (max-width: 1000px) {
  .about_me_desc {
    line-height: 30px;
    font-size: 16px;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .about_background_content {
    flex-direction: column;
  }

  .about_me_in_mexico {
    display: none;
  }

  .about_me_desc {
    font-weight: 100;
    line-height: 40px;
    font-size: 18px;
    margin-left: 0;
    text-align: left;
  }
  
}

.my_work_container {
  box-sizing: border-box;
  background: linear-gradient(#8E4AE5, #6074E8);
  text-align: center;
  padding: 100px 0 160px;
}

.my_work_cards_container {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.my_work_card {
  display: flex;
  box-sizing: border-box;
  flex: 1 0 22%;
  padding: 80px 20px;
  margin: 0 30px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#1C1C1C 70%, rgb(34, 41, 80));
  border-radius: 20px; 
}

.my_work_img {
  height: 180px;
}

.my_work_card h1 {
  color: #fff;
  margin-top: 30px;
}

.my_work_card p {
  max-width: 300px;
  font-size: 20px;
  color: #f8f8f8b7;
  margin: 0;
}

.my_skills_container {
  box-sizing: border-box;
  width: 80%;
  background: #fff;
  margin: 0 auto;
  padding: 100px 0 160px;
  box-shadow: 3px 0 rgba(28, 28, 28, 0.075), -3px 0 0 rgba(28, 28, 28, 0.075);
}

.my_skills_cards_container {
  display: flex;
  flex-wrap: wrap;
}

.my_skills_card {
  display: flex;
  box-sizing: border-box;
  flex: 1 1 25%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .my_work_card {
    margin: 0 15px;
  }
  .my_work_card h1 {
    font-size: 28px;
  }

  .my_work_img {
    height: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .my_work_card {
    flex: 1 1 100%;
    margin: 0 30px 30px;
  }
  .my_work_card h1 {
    font-size: 32px;
  }
  .my_work_img {
    height: 180px;
  }
  .my_skills_container {
    width: 100%;
  }
  .my_skills_card h2 {
    font-size: 20px;
    white-space: nowrap;
  }
  .about_avatar_container h1 {
    padding: 13px 10px;
    font-size: 28px;
  }
}

/* @media only screen and (max-width: 450px) {
  .about_avatar_container h1 {
    font-size: 18px;
  }
} */