.about {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 0 1px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  overflow: hidden;
}
.about_intro {
  height: 510px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #02b3e4;

}
.about_avatar_container {
  text-align: center;
  padding: 13px;
  color: #ffffff;
}

.about_avatar {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 75px;
}

.about_background_content {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about_me_in_mexico {
  border-radius: 5px;
  width: 50%;
  height: auto;
}

.about_background_content span {
  font-weight: 100;
  line-height: 40px;
  font-size: 18px;
  margin-left: 100px;
}

@media only screen and (max-width: 1000px) {
  .about_background_content span {
    line-height: 30px;
    font-size: 16px;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .about_background_content {
    flex-direction: column;
  }

  .about_me_in_mexico {
    display: none;
  }

  .about_background_content span {
    font-weight: 100;
    line-height: 40px;
    font-size: 18px;
    margin-left: 0;
    text-align: left;
  }
  
}
.my_work_container {
  box-sizing: border-box;
  background: linear-gradient(#8E4AE5, #6074E8);
  text-align: center;
  padding: 100px 0 160px;
}
.my_work_cards_container {
  color: #ffffff;
  /* padding: 60px; */
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

.my_work_card {
  display: flex;
  box-sizing: border-box;
  flex: 1 0 33.3333%;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.my_work_icon {
  height: 100px;
}

.my_work_card h2 {
  font-weight: 100;
  align-self: center;
}

.about_frameworks {
  text-align: center;
}
.about_frameworks h2{
  font-size: 32px;
  padding: 30px;
}
.about_frame {
  line-height: 1.7rem;
  padding: 20px 40px 40px 40px;
  font-size: 14px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.frames {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  width: 200px;
  overflow: hidden;
  margin-bottom: 70px;
  border-radius: 5px;
}
.frame_title {
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: #0673A5;
  margin: 0;
}
.frame_name {
  font-weight: 100;
}

@media only screen and (max-width: 500px) {
  .about {
    box-shadow: none;
    margin: 0;
    overflow: none;
  }
  .about_background_content {
    padding: 30px;
    /* text-align: center; */
  }
  .about_image {
    height: 350px;
    background-attachment: local;
    margin-bottom: 60px;
  }
  .about_image_text {
    margin-left: -11px;
  }
  .about_lang {
    display: block;
    margin: 0 auto;
  }
  .lang_container {
    margin: 0 auto;
    width: 200px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .about_githubLink {
    width: 200px;
  }
  .frames {
    width: 250px;
  }
}