html, body {
  width: 100vw;
  height: 100vh;
}

.app {
  font-family: 'Futura', 'Helvetica', sans-serif;
  font-weight: normal;
  cursor: default;
  color: rgba(0, 0, 0, 0.769);
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.nav_container {
  padding: 15px 15px 5px 15px;
  color: #fff;
  z-index: 3;
  text-align: center;
  max-width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.nav_absolute {
  position: absolute;
}

.nav_fixed {
  animation: show 200ms ease forwards;
  height: 0px;
  background: #fff;
  border-bottom: 2px solid #343434;
  color: #343434;
  position: fixed;
  overflow: hidden;
}

.nav_fixed_no_animation {
  height: 50px;
  background: transparent;
  color: #fff;
  position: absolute;
}

.hide_nav {
  animation: hide 200ms forwards;
  height: 50px;
  opacity: 0.9;
  background: #fff;
  border-bottom: 2px solid #343434;
  color: #343434;
  position: fixed;
  overflow: hidden;
  opacity: 1;
}

@keyframes show {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}

@keyframes hide {
  0% {
    height: 50px;
    opacity: 1;
  }
  80% {
    opactiy: 0.8;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.header {
  font-size: 15px;
}

.nav_logo {
  display: block;
  cursor: pointer;
  font-size: 30px;
  transition-duration: 200ms;
  padding: 5px;
}

.nav_logo:hover {
  transition-duration: 200ms;
  background-color: rgba(0, 0, 0, 0.125);
}

.first_span {
  float: left;
}
.last_span {
  float: right;
}

.nav_container a {
  color: inherit;
}

.headerh1 {
  display: inline-block;
  margin: 7px 0 0 75px;
  text-align: left;
  cursor: pointer;
}

button:focus {outline:0;}


.introLandingWrapper {
  min-height: 100vh;
}