.app {
  text-align: center;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.app_header {
  text-align: left;
  margin: 0 auto;
  max-width: 840px;
  padding: 15px;
}

@media only screen and (max-width: 700px) {
  .app_header {
    padding: 15px;
  }
}

.app_header:after {
  content: '';
  display: block;
  margin: 0 auto;
  max-width: 900px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}

.app_content {
  padding-top: 15px;
}

.header {
  text-align: left;
  color: rgba(0, 0, 0, 0.797);
}

.app_footer {
  font-size: 12px;
  margin: 0 auto;
  padding: 30px;
  max-width: 720px;
}

.app_footer a {
  text-decoration: none;
  font-size: 13px;
  color: rgb(35, 35, 255);
  transition-duration: 400ms;
}

.app_footer a:hover {
  color: rgba(101, 101, 101, 0.783);
}