/* Color Pallete: https://coolors.co/0673a5-0b3954-bfd7ea-ff5a5f-c81d25 */

/* Blog Component Styles*/
.blog {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 0 1px rgba(0, 0, 0, 0.23);
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 50px;
  display: flex;
}
.blog_left_container {
  flex-basis: 60%;
  padding: 20px;
  min-width: 150px;
}
.blog_right_container {
  display: flex;
  width: 40%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
}
.blog_right_container:hover .blog_image {
  transition-duration: 200ms;
  opacity: 0.3;
}
.blog_right_container:hover .more_btn {
  transition-duration: 200ms;
  opacity: 1;
}
.blog_short_desc {
  font-size: 15px;
  font-weight: 100;
  height: 90px;
}

.view_btn {
  transition-duration: 200ms;
  padding: 8px 20px 8px 20px;
  color: #0673A5;
  background-color: #ffffff; 
  font-size: 12px;
  border: 1px solid #0673A5;
  cursor: pointer;
}
.view_btn:hover {
  transition-duration: 200ms;
  color: #ffffff;
  background-color: #0673A5;
}
.view_btn_android {
  transition-duration: 200ms;
  padding: 8px 20px 8px 20px;
  color: #689f38;
  background-color: #ffffff; 
  font-size: 12px;
  margin-left: 20px;
  border: 1px solid #689f38;
  cursor: pointer;
}
.view_btn_android:hover {
  transition-duration: 200ms;
  color: #ffffff;
  background-color: #689f38;
}
.more_btn {
  transition-duration: 200ms;
  position: relative;
  bottom: 65%;
  padding: 8px 20px 8px 20px;
  color: #ff5a60;
  background-color: #ffffff;
  opacity: 0;
  font-size: 14px;
  border: 1px solid #ff5a60;
  cursor: pointer;
}
.more_btn:hover {
  transition-duration: 200ms;
  color: #ffffff;
  background-color: #ff5a60;
}
.github_icon {
  transition-duration: 200ms;
  width: 20px;
  float: right;
  padding: 5px;
  margin-top: -7px;
  border-radius: 20px;
  cursor: pointer;
}
.github_icon:hover {
  transition-duration: 200ms;
  background-color: rgba(0, 0, 0, 0.125);
}
.blog_footer {
  border-top: 1px solid rgba(128, 128, 128, 0.221);
  margin-top: 20px;
  font-size: 13px;
  padding: 20px 0 20px 0;
}
.blogh1 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.769);
}

/* --------------------------------------------------------- */
/* BlogInfo Component Styles */
.blogInfo {
  z-index: 4;
}

.blogInfo_header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 10px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}
.blogInfo_header h2 {
  margin: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.769);
}
.blogInfo_header span {
  transition-duration: 200ms;
  margin-top: -2px;
  padding: 6px 10px 6px 10px;
  border-radius: 30px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.671);
  cursor: pointer;
}
.blogInfo_header span:hover {
  transition-duration: 200ms;
  background-color: #ff5a60;
  color: #ffffff;
}
.blogInfo_content {
  padding: 10px 30px 10px 30px;
  font-weight: 100;
}
.blogInfo_content h3 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.836);
}
.blogInfo_desc {
  line-height: 1.5em;
}
.blogInfo_tech {
  line-height: 1.5em;
}

.Modal {
  transition-duration: 400ms;
  border-radius: 5px;
  position: absolute;
  z-index: 4;
  opacity: 0;
  width: 600px;
  max-height: 400px;
  overflow: scroll;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.42);
}
/* ----------------------------------------------------- */
/* Mobile Device styles */
@media only screen and (max-width: 609px) {
  .blog {
    height: 300px;
  }
  .blog_short_desc {
    font-size: 13px;
    height: 85px;
  }

  .blog_left_container {
    padding: 20px;
    height: 300px;
    flex-direction: row;
    justify-content: space-around;
  }

  .blogInfo_desc {
    margin-bottom: 0px;
    line-height: 1.3em;
  }
  .blogInfo_tech {
    line-height: 1.3em;
  }
  .Modal {
    width: 380px;
  }
  .btns_container {
    margin-top: 0px;
    height: 90px;
  }
  .view_btn {
    width: 120px;
  }
  .view_btn_android {
    width: 120px;
  }
  .view_btn_android {
    margin: 0;
    margin-top: 10px;
    display: block;
  }
  .more_btn {
    bottom: 60%;
  }
  .blog_footer {
    height: 50px;
    margin-top: 0px;
    padding: 10px 0 10px 0;
  }
  .blogh1 {
    font-size: 18px;
  }
}

/* --------------------------------------------------- */
/* Animations */

.fadein {
  animation: fade-in 200ms;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1; }
}

.fadeOut {
  animation: fade-out 200ms;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  from { opacity: 1;}
  to { opacity: 0; }
}