/* Color Pallete: https://coolors.co/0673a5-0b3954-bfd7ea-ff5a5f-c81d25 */

/* Blog Component Styles*/
.blog {
  display: flex;
  max-width: 1130px;
  color: #ffffff;
  margin: 0 auto 100px;
  box-sizing: border-box;
}
.blog_left_container {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}
.blog_left_container h1 {
  font-size: 41px;
}
.blog_right_container {
  display: flex;
  width: 40%;
  margin: 0 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.blog_right_container:hover .blog_image {
  transition-duration: 200ms;
  opacity: 0.6;
}
.blog_right_container:hover .more_btn {
  transition-duration: 200ms;
  opacity: 1;
}

.project_image {
  width: 100%;
  max-width: 400px;
}
.blog_short_desc {
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 80px;
}

.btns_container button {
  border: none;
}

.view_btn {
  transition-duration: 200ms;
  padding: 8px 20px 8px 20px;
  background-color: #0673A5;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.view_btn:hover {
  transition-duration: 200ms;
  color: #0673A5;
  background-color: #fff;
}
.view_btn_android {
  transition-duration: 200ms;
  padding: 8px 20px 8px 20px;
  color: #fff;
  background-color: #689f38; 
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
.view_btn_android:hover {
  transition-duration: 200ms;
  color: #689f38;
  background-color: #fff;
}
.learn_more_button {
  transition-duration: 200ms;
  padding: 8px 20px 8px 20px;
  color: #fff;
  background: #ff5a60;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
.learn_more_button:hover {
  transition-duration: 200ms;
  color: #ff5a60;
  background: #fff;
}
.github_icon {
  transition-duration: 200ms;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.github_icon:hover {
  transition-duration: 200ms;
  background-color: rgba(0, 0, 0, 0.125);
}
.blog_footer {
  margin-top: 10px;
  font-size: 16px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .blog {
    flex-direction: column;
  }
  .blog_left_container {
    width: 100%;
  }
  .blog_right_container {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .btns_container {
    display: flex;
  }
  .blog_footer {
    margin-top: 0;
    box-sizing: border-box;
  }
  .project_image {
    width: 100%;
    max-width: 600px;
  }
  .blog_left_container h1 {
    font-size: 30px;
    white-space: normal;
  }
}

/* --------------------------------------------------- */
/* Animations */

.fadein {
  animation: fade-in 200ms;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1; }
}

.fadeOut {
  animation: fade-out 200ms;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  from { opacity: 1;}
  to { opacity: 0; }
}