@import '_Animations';
@import '_Base';

.contact {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0 160px;
  background: $whiteColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  h2 {
    font-weight: $fontWeightThin;
    margin: 0 30px 60px;
    text-align: center;
    color: $fadedTextColor;
  }
  @media screen and (max-width: $mediumDevices) {
    padding: 100px 0;
    h2 {
      font-size: $buttonFontSize;
      margin: 0 30px 30px;
    }
  }
}

.contact_title_container {
  padding: 60px;
  @media screen and (max-width: $mediumDevices) {
    padding: 30px 0;
  }
}

.contact_title {
  @include animation('scale_in 300ms forwards 300ms');
  transform: scale(0);
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.contact_title_underline {
  height: 5px;
  width: 0;
  background: $blackColor;
  margin: 0 auto;
  @include animation('animate_line 300ms forwards 600ms');
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  @media screen and (max-width: $mediumDevices) {
    width: calc(100% - 60px);
    margin: 0 30px;
    box-sizing: border-box;
  }
}

.contact_input_fields {
  padding: 10px;
  box-sizing: border-box;
  font-family: $fontFamily;
  width: 100%;
  font-size: $buttonFontSize;
  margin-bottom: 10px;
  border: 1px solid #737373;
  outline: none;
}

.error_label {
  margin-bottom: 10px;
  color: $redColor;
}

.contact_textarea {
  padding: 10px;
  box-sizing: border-box;
  font-family: $fontFamily;
  width: 100%;
  font-size: $buttonFontSize;
  margin-bottom: 10px;
  border: 1px solid #737373;
  height: 300px;
  outline: none;
  resize: none;
}

.send_button {
  font-size: $buttonFontSize;
  transition-duration: 200ms;
  cursor: pointer;
  padding: 10px 60px;
  color: $whiteColor;
  border: 2px solid transparent;
  background: $redColor;
  align-self: flex-end;
  &:hover {
    background: $whiteColor;
    color: $blackColor;
    border-color: $redColor;
  }
  &:disabled {
    background: $redColor;
    color: $whiteColor;
    border: none;
    opacity: 0.6;
    cursor: inherit;
  }
}

html.can-touch .send_button:hover {
  color: $whiteColor;
  background: $redColor;
  border-color: transparent;
}

.show_button {
  @include animation('partial_fade_in 200ms');
  &:disabled {
    background: $redColor;
    color: $whiteColor;
    border: none;
    opacity: 0.6;
    cursor: inherit;
  }
}

.remove_button {
  @include animation('fade_out 200ms forwards');
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ebebeb inset;
}

.loader_container {
  margin-top: 0px;
  float: right;
}