.footer_container {
  width: 100%;
  background-color: #000;
  height: 300px;
  padding: 60px;
  display: flex;
}

.footer_background_info {
  display: flex;
  width: 270px;
  flex-direction: column;
  color: #F8F8F8;
}

.footer_background_info p {
  color: rgb(139, 139, 139);
}
