.hyper_nav {
  max-width: 330px;
  margin: 0 auto;
}

.hyper_nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.hyper_nav li {
  padding-right: 35px;
  text-align: center;
}

.hyper_nav:after {
  border-bottom: 1px solid grey;
}

.hyper_link {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.749);
  font-weight: 100;
  font-size: 13px;
  transition-duration: 400ms;
}

.hyper_link:hover {
  color: rgb(35, 35, 255);
  cursor: pointer;
}