body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', 'Helvetica', sans-serif;
}

img, button {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

button {
  font-family: 'Futura', 'Helvetica', sans-serif;
}

#modal-root {
  z-index: 6;
  position: relative;
  top: 0;
  left: 0;
}

