.IntroLanding-container {
  width: 100vw;
  height: 100vh;
  background-color: #000000; 
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  opacity: 0.7;
  height: 100vh;
}
.avatar-img {
  height: 150px;
  border: 6px solid #fff;
  border-radius: 80px;
  padding: 0;
}

.hero-children {
  position: absolute;
  width: 58%;
  height: 400px;
  top: 30%;
  bottom: 0;
  left: 25%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-children h1 {
  font-weight: normal;
  font-size: 55px;
  margin-left: 10px;
  white-space: nowrap;
  color: #ffffff;
  text-shadow: 1px 1px #cecece;
}

@media only screen and (max-width: 991px) {
  .hero-children{
    flex-direction: column;
    left: 20%;
  }

  .hero-children h1 {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .hero-children h1 {
    font-size: 38px;
  }
}