@import '_Animations';
@import '_Base';
.IntroLanding-container {
  width: 100vw;
  height: 100vh;
  background-color: $blackColor;
  overflow: hidden;
  cursor: default;
}

.hero-image {
  width: 100vw;
  opacity: 0.7;
  background-image: url("../Images/needle-3.jpg");
  height: 100vh;
  background-size: cover;
  @media screen and (max-width: 450px) {
    background-image: url("../Images/needle-small.jpeg");
  }
}

.avatar-img {
  height: 150px;
  border: 6px solid $whiteColor;
  border-radius: 80px;
  padding: 0;
}

.hero-children {
  position: absolute;
  width: 58%;
  height: 400px;
  top: 30%;
  bottom: 0;
  left: 25%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: normal;
    font-size: 55px;
    margin-left: 10px;
    transform: scale(0);
    @include animation('scale_in 300ms forwards 300ms');
    white-space: nowrap;
    color: $whiteColor;
    text-shadow: 1px 1px $fadedTextColor;
    @media screen and (max-width: $largeDevices) {
      margin: 10px 0;
      text-align: center;
    }
    @media screen and (max-width: $mediumDevices) {
      font-size: 38px;
    }
    @media screen and (max-width: $smallDevices) {
      white-space: normal;
    }
  }
  @media screen and (max-width: $largeDevices) {
    flex-direction: column;
    left: 20%;
  }
}

.go_to_projects {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  @include animation('fade_in 400ms forwards 1s');
  opacity: 0;
  transform: translate(-50%, 0);
  p {
    color: $whiteColor;
    font-size: $buttonFontSize;
    margin: 5px 0 0 5px;
  }
}

.arrow_down {
  width: 60px;
  height: 60px;
  transform: rotate(90deg);
  background-image: url('../Images/chevron-right.svg');
  background-size: cover; 
}

.bob_animation {
  @include animation('bob 2s infinite');
}