.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #02b3e4; 
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  background-repeat: no-repeat; 
  background-position: top center;
}
.avatar-img {
  height: 150px;
  border: 6px solid #fff;
  border-radius: 80px;
  padding: 0;
}

.hero-children {
  position: absolute;
  background: #343434ab;
  border-radius: 200px;
  width: 44%;
  height: 200px;
  top: 35%;
  bottom: 0;
  left: 25%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-children h1 {
  font-weight: normal;
  font-size: 55px;
  margin-left: 10px;
  color: #ffffff;
  text-shadow: 1px 1px #cecece;
}
