@import '_Animations';
@import '_Base';
.project_modal {
  @include animation('fade_in 400ms forwards');
  z-index: 4;
  cursor: default;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
}

.fade_out_modal {
  @include animation('fade_out 400ms forwards');
}

.modal_container {
  position: fixed;
  background: $whiteColor;
  width: 700px;
  height: auto;
  top: 8%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -8%);
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.modal_footer {
  padding: 20px 30px;
}

.modal_footer_header {
  border-bottom: 2px solid rgba(128, 128, 128, 0.301);
  padding: 10px 0;
  box-sizing: border-box;
  h2 {
    margin: 10px 0;
    color: $blackColor;
    font-size: $mediumFontSize;
  }
  span {
    color: rgb(173, 173, 173);
    font-size: $smallFontSize;
  }
  @media screen and (max-width: $smallDevices) {
    h2 {
      font-size: $smallMediumFontSize;
    }
  }
}

.modal_footer_bottom {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.modal_view_button {
  cursor: pointer;
  padding: $buttonPadding;
  display: flex;
  align-items: center;
  color: $whiteColor;
  justify-content: center;
  box-sizing: border-box;
  span {
    font-size: 19px;
  }
  &:hover {
    color: $blackColor;
  }
  @media screen and (max-width: 375px) {
    padding: 8px 10px 8px 10px;
  }
}

html.can-touch .modal_view_button:hover {
  color: $whiteColor;
}

.modal_regular_button {
  border: 2px solid $redColor;
  background: linear-gradient(to left, $redColor 50%, #f8f8f8 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 200ms ease-in-out;
  width: 113px;
  span {
    margin-right: 6px;
  }
  &:hover {
    background-position: left bottom;
  }
}

html.can-touch .modal_regular_button:hover {
  background-position: right bottom;
}

.modal_mobile_buttons {
  display: flex;
}

.apple_button {
  border: 2px solid $blueColor;
  background: linear-gradient(to left, $blueColor 50%, #f8f8f8 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 200ms ease-in-out;
  &:hover {
    background-position: left bottom;
  }
}

html.can-touch .apple_button:hover {
  background-position: right bottom;
}

.google_button {
  border: 2px solid $greenColor;
  background: $greenColor;
  margin-left: 20px !important;
  background: linear-gradient(to left, $greenColor 50%, #f8f8f8 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 200ms ease-in-out;
  &:hover {
    background-position: left bottom;
  }
}

html.can-touch .google_button:hover {
  background-position: right bottom;
}

.modal_open_icon {
  font-size: 20px;
}

.modal_close_icon {
  font-size: $LargeFontSize;
  color: $blackColor;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  margin-top: 2px; 
  &:hover {
    transform: translate(0px, -2px) scale(1.08);
  }
}

// contact modal
.contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.6);
  @include animation('fade_in 300ms forwards');
}

.close_contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.6);
  @include animation('fade_out 300ms forwards');
}

.contact_modal_main {
  position: fixed;
  background: $whiteColor;
  width: 460px;
  box-sizing: border-box;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    color: $blackColor !important;
    text-align: center;
  }
  @media only screen and (max-width: 520px) {
    width: calc(100% - 60px);
  }
}

.party_popper_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.party_popper {
  width: 150px;
  margin: 0 0 20px;
}
